In [1]:
# HOW TO INSTALL PANDA

In [3]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\vinod\anaconda333\lib\site-packages (1.0.5)
Requirement already satisfied: numpy>=1.13.3 in c:\users\vinod\anaconda333\lib\site-packages (from pandas) (1.18.5)
Requirement already satisfied: pytz>=2017.2 in c:\users\vinod\anaconda333\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\vinod\anaconda333\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\vinod\anaconda333\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.15.0)

In [1]:
# creating an empty series

In [6]:
import numpy as np

In [7]:
import pandas as pd

In [8]:
s=pd.Series()
print(s)

Series([], dtype: float64)

<ipython-input-8-f8daae661c20>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s=pd.Series()

In [12]:
import numpy as np

In [13]:
import pandas as pd

In [14]:
#creating a series from an ndarray:

In [16]:
data=np.array(['a','b','c','d','e'])
s=pd.Series(data)
print(s)

0    a
1    b
2    c
3    d
4    e
dtype: object

In [ ]:
#req- I want to give my custom index

In [18]:
data=np.array(['a','b','c','d','e'])
s=pd.Series(data,index=[101,102,103,104,105])
print(s)

101    a
102    b
103    c
104    d
105    e
dtype: object

In [ ]:
# creating a series from dictionary

In [20]:
data={'a':0,'b':1,'c':2,'d':3,'e':4}
s=pd.Series(data)
print(s)

a    0
b    1
c    2
d    3
e    4
dtype: int64

In [7]:
import numpy as np

In [8]:
import pandas as pd

In [9]:
#CREATING A SERIES FROM THE SCALAR(CONSTANT VALUE)

In [11]:
s=pd.Series(1,index=[0,1,2,3,4,5,6])
print(s)

0    1
1    1
2    1
3    1
4    1
5    1
6    1
dtype: int64

In [13]:
#iNTRODUCTION TO DATA FRAMES

In [ ]:
#creating an empty data frames

In [15]:
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [16]:
#CREATING A DATAFRAME  FROM LIST

In [19]:
data=[1,2,3,4,5]
df=pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [26]:
type(df)

pandas.core.frame.DataFrame

In [39]:
#CREATING AND ADDING COLUMNS

In [44]:
import numpy as np

In [45]:
import pandas as pd

In [46]:
p=[['papi',10,'a'],['kritika',9,'b'],['priya',10,'a'],['vinod',10,'a'],['usha',10,'a']]

In [47]:
df=pd.DataFrame(p,columns=['name','marks','grade'])
print(df)

      name  marks grade
0     papi     10     a
1  kritika      9     b
2    priya     10     a
3    vinod     10     a
4     usha     10     a

In [ ]:
#CREATING INDEX

In [ ]:
p=[['papi',10,'a'],['kritika',9,'b'],['priya',10,'a'],['vinod',10,'a'],['usha',10,'a']]

In [51]:
df=pd.DataFrame(p,columns=['name','marks','grade'],index=['rank1','rank2','rank3','rank4','rank5'])
print(df)

          name  marks grade
rank1     papi     10     a
rank2  kritika      9     b
rank3    priya     10     a
rank4    vinod     10     a
rank5     usha     10     a

In [52]:
#CREATING  A DATAFRAME USING DICTIONARY OF NDARRAY

In [55]:
data={'name':['priya','divya','sanjna','mona'],'point':[100,90,80,70]}
df=pd.DataFrame(data)
print(df)

     name  point
0   priya    100
1   divya     90
2  sanjna     80
3    mona     70

In [56]:
#USE OF NAN(NOT A NUMBER)

In [57]:
data=[{'a':1,'b':2},{'a':5,'b':4,'c':3}]

In [58]:
df=pd.DataFrame(data,index=['first','second'])
print(df)

        a  b    c
first   1  2  NaN
second  5  4  3.0

In [7]:
#ANOTHER EG

In [9]:
import numpy as np

In [10]:
import pandas as pd

In [11]:
data={'apples':[3,2,0,1],'oranges':[6,7,8,9]}

In [12]:
purchases=pd.DataFrame(data)
print(purchases)

   apples  oranges
0       3        6
1       2        7
2       0        8
3       1        9

In [13]:
purchases=pd.DataFrame(data,index=['priya','papi','divya','radhe'])
print(purchases)

       apples  oranges
priya       3        6
papi        2        7
divya       0        8
radhe       1        9

In [14]:
#I WANT TO GET THE OUTPUT OF WHAT EXACTLY PRIYA HAS PURCHASES. BASICALLY i WANT TO LOCATE PRIYA PURCHASED?

In [15]:
purchases.loc['priya']

apples     3
oranges    6
Name: priya, dtype: int64

In [16]:
purchases.loc['divya']

apples     0
oranges    8
Name: divya, dtype: int64

In [17]:
#I WANT TO KNOW THE INDEX OF ILOC--->iloc used for indexing

In [18]:
purchases.iloc[1]

apples     2
oranges    7
Name: papi, dtype: int64

In [19]:
#READING THE DATA FROM CSV(COMMON SEPERATED VALUE)

In [24]:
df=pd.read_csv('purchases.csv')
df

  Unnamed: 0  apples  oranges
0       June       3        0
1     Robert       2        3
2       Lily       0        7
3      David       1        2

In [25]:
# TO AVOID SYSTEM GENERATING INDEXING

In [26]:
df=pd.read_csv('purchases.csv',index_col=0)
df

        apples  oranges
June         3        0
Robert       2        3
Lily         0        7
David        1        2

In [27]:
#READING THE DATA FROM JSON-->JAVASCRIPT OBJECT NOTION-->KEY_VALUE PAIR FORMAT(DICT)
#[no index because in json index is internally assignes]

In [28]:
df=pd.read_json('purchases.json')

In [29]:
df

        apples  oranges
June         3        0
Robert       2        3
Lily         0        7
David        1        2

In [30]:
#JSON TO CSV CONVERT

In [33]:
df.to_csv('new purchases.csv')

In [34]:
df=pd.read_csv('new purchases.csv')
df

  Unnamed: 0  apples  oranges
0       June       3        0
1     Robert       2        3
2       Lily       0        7
3      David       1        2